body{
    background: lightblue;
    text-align: center;
}
h1{
    color: black;
    text-decoration-style: solid;
}
p{
    color: black;
}
h2{
    color: black;
}
footer{
    background: black;
    color: white;
}